.login_container{
    background-image: url('https://www.get-licensed.co.uk/get-daily/wp-content/uploads/2019/08/apps.55787.9007199266246365.687a10a8-4c4a-4a47-8ec5-a95f70d8852d.jpg');
    /* background-color: rgb(28, 0, 0); */
    /* background-color: rgba(22, 21, 21, 1); */
    background-size: cover;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container{
    background-image: url('https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQdHbjrX0uL1mH7uUW7VZ-p5GJOSNNRko_9A_12Mlv5wVYQIDy4nuupxLHxkDj9V0e1OLBs_s8ZlxFkyhPlK5XkrlTK0c7yP42LLinQdYhz8lqfgUcOH68JAbEcY45jG02gCI1NyKVf1lqxsQFmcNN5szbv8.jpg?r=aee');
    /* background-color: rgb(28, 0, 0); */
    /* background-color: rgba(22, 21, 21, 1); */
    background-size: cover;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0px;
}
form{
    background-size: cover;
    
}
.login_text{
    color: aliceblue;
}
.login_button{
    background-color: rgb(243, 27, 27);
    color: white;
    font-weight: 500;
    /* margin: 50px; */
    padding: 10px;
    border-radius: 10px;
    color: rgb(243, 239, 255);
}

.reasons_container{
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 0px;
}


.more_reasons{
  background: linear-gradient(
    135deg,
    #050823,
    #080e33,
    #031359
  );
  background-size: cover;
  border-radius: 15px;
  color: white;
  padding: 15px;
  width: 40vh;
  margin: 0px;
}
.movies_container{
    background-color: whitesmoke;
    background-size: cover;
    height: 23vh;
    width: 35vw;

}
.watch_button{
    background-color: rgb(17, 123, 253);
    padding: 5px;
    font-size: smaller;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    color: white;
}


.trending h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.trending-row {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  
  padding-bottom: 10px;
}

.trending-row::-webkit-scrollbar {
  display: none;
}

.movies_card {
  position: relative;
  min-width: 160px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.movies_card img {
  width: 160px;
  height: 240px;
  object-fit: cover;
  border-radius: 6px;
}
.movies_card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.rank {
  position: absolute;
  left: -30px;
  bottom: -30px;
  font-size: 120px;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 2px white;
  z-index: 1;
}
.sign_in_container{
  background-color: rgb(190, 6, 6);
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.sign_in_div{
  background-color: white;
  background-size: cover;
  height: 25%;
  width: 25%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: auto;
  margin: auto;
}